<!DOCTYPE html>
<link rel="SHORTCUT ICON" href="~/Images/MemberProfile.png" />
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.">
        <title>@ViewBag.Title - Member Profile</title>
        @Styles.Render("~/Content/css")
        @*@Scripts.Render("~/bundles/modernizr")*@
        @*@Scripts.Render("~/bundles/jquery")*@
        @*@Scripts.Render("~/bundles/bootstrap")*@
        @RenderSection("scripts", required: false)
        @*@Styles.Render("~/Content/themes/base/css")*@
        @*@Scripts.Render("~/bundles/jqueryui")*@
        @*<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />*@
        @*<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>*@
        @*<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>*@
       
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">

            <nav class="navbar navbar-dark navbar-expand-md bg-dark shadow">
                <div class="container">
                    <table border="0" width="100%" ID="Table2" style="margin: 0px;">
                        <tr>
                            <td>
                                <p class="site-title">
                                    <a href="@Url.Action("MiserLoginInfo", "MiserLogin")">
                                        <img class="img-fluid" data-bs-hover-animate="pulse" src="~/Images/Logo1.png" alt="" style='float:left;' />
                                    </a>
                                    <a style="color:white;"> </a>
                                </p>
                            <td>
                            <td> <p style="color:yellow;" , align="left"> TEST ENVIRONMENT - Not Production. </p></td>
                            <td>
                                <p style="color:white;" , align="right">
                                    Welcome @TempData["UserID"]<br />
                                    @Html.ActionLink("Logout", "LogOut", "MiserLogin")
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </nav>
            <div class="container2" style="padding:5px">
                @*<ul id="horizontal">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Miser Login", "MiserLoginInfo", "MiserLogin")</li>
                </ul>*@
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Information Systems & Development -  - V 0.15.0</p>
            </footer>
            @*<footer class="bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col"><span class="text-secondary">&copy; @DateTime.Now.Year - Information Systems & Development - GECU - V 0.12.1</span></div>
                        <div class="col text-right"><span class="text-secondary">NCR Miser Integration</span></div>
                    </div>
                </div>
            </footer>*@

        </div>
    </body>
</html>
