@model IEnumerable<MVCMiserLogin.CCdetails>
@if (Model.Count() <= 0)
{
    <p>Nothing to display</p>
}

else {
    <table class="table" id="CCtable" name="CCtable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableCredit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateAPR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashAdvanceAPR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymtDueDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPayAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPayDt)
            </th>
        </tr>

    @foreach (var item in Model)
    {
        decimal currentBal = Convert.ToDecimal(item.CurrentBalance);
        double cashAdvanceAPR = Double.Parse(item.RateAPR) + 2;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CCardNumber).ToString().TrimStart('0')
            </td>
            <td style=" text-align:right">
                @Html.Raw(currentBal.ToString("#,##0.00"))
            </td>
            <td style=" text-align:right">
                @Html.Raw(Convert.ToDecimal(item.CreditLimit).ToString("#,##0.00"))
            </td>
            <td style=" text-align:right">
                @Html.Raw(Convert.ToDecimal(item.AvailableCredit).ToString("#,##0.00"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExternalStatus).ToString().TrimStart('0')
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternalStatus).ToString().TrimStart('0')
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateAPR).ToString().TrimStart('0')
            </td>
            <td>
                @Html.Raw(cashAdvanceAPR)
                @*@Html.DisplayFor(modelItem => item.CashAdvanceAPR).ToString().TrimStart('0')*@
            </td>
            <td style=" text-align:right">
                @Html.Raw(Convert.ToDecimal(item.AmountDue).ToString("#,##0.00"))
            </td>
            <td>
                @*CultureInfo provider = CultureInfo.InvariantCulture;
            @Html.Raw(DateTime.ParseExact(item.PaymtDueDt.ToString(),"mmdd", new CultureInfo.InvariantCulture)*@
                @Html.DisplayFor(modelItem => item.PaymtDueDt).ToString().TrimStart('0')
            </td>
            <td style=" text-align:right">
                @Html.Raw(Convert.ToDecimal(item.LastPayAmt).ToString("#,##0.00"))
            </td>
            <td>
                @*// @Html.Raw(DateTime.ParseExact(item.PaymtDueDt.ToString(),"mmdd")*@
                @*@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.LastPayDt)).TrimStart('0')*@
                @*@Convert.ToDateTime(item.LastPayDt).ToString("dd/MM/yyyy").TrimStart('0')*@
                @Html.DisplayFor(modelItem => item.LastPayDt).ToString()
            </td>

        </tr>
    }

</table> 
}

