@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>

<html>
<head>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/CollapsibleTable.js")
    @Scripts.Render("~/Scripts/Jquery.DataTables.min.js")
    @Scripts.Render("~/Scripts/DataTables.bootstrap4.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/DataTablesBootstrap4.min.css")
    <script>
        var SearchSSNFinishLoading = false;
        //var SearchBySSNTestFinishLoading = false;
        var CoopFinishLoading = false;
        var errorMessage = "";
        $(document).ready(function () {
            $('#LoadingModal').modal('hide');
            $('#SearchBySSNLoading').html('<img src="/Images/spinner.gif" height="35" width="35" />');
            $('#COOPLoading').html('<img src="/Images/spinner.gif" height="35" width="35" />');
            //$('#SearchBySSNTestLoading').html('<img src="/Images/spinner.gif" height="35" width="35" />');
            $.ajax({
                type: "GET",
                url: "GetHiddenBalanceToggleLast",
                //(int SessionID, bool isHidden)
                data: {},
                dataType: "json",
                success: function (actionInfo) {

                    $('#HideBalChBx').prop('checked', actionInfo.Success);
                    document.getElementById("HideBalTxt").innerHTML = "<b>Session ID: " + actionInfo.SessionID + " Hide Balance on Receipt</b > ";
                },
                error: function (jqXHR, exception) {

                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 400) {
                        msg = jqXHR.statusText;
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    //alert("Content load failed. " + msg);
                    console.log("Content load failed. " + msg);
                    Loading("COOPLoading", false, msg);
                    Loading("SearchBySSNLoading", false, msg);
                    Loading("SearchBySSNTestLoading", false, msg);
                }
            });
        });

        function HideModal() {
            $('#LoadingModal').modal('hide');
        }
        function Loading(divID, isSuccess, errMsg = "") {
            console.log("Loading(" + divID + ", " + isSuccess + ") called");
            //debugger;
            var options = { "backdrop": "static", keyboard: true };
            if (divID == "0") {
                SearchSSNFinishLoading = false;
                //SearchBySSNTestFinishLoading = false;
                CoopFinishLoading = false;

                $('#SearchBySSNLoading').html('<img src="/Images/spinner.gif" height="35" width="35" />');
                $('#COOPLoading').html('<img src="/Images/spinner.gif" height="35" width="35" />');
                //$('#SearchBySSNTestLoading').html('<img src="/Images/spinner.gif" height="35" width="35" />');
                $('#LoadingModal').modal(options);
                $('#LoadingModal').modal('show');
            }
            if (divID === "SearchBySSNLoading") {
                if (isSuccess) {
                    $('#SearchBySSNLoading').html('<img src="/Images/checkmark.png" height="35" width="35" />');
                }
                else {
                    $('#SearchBySSNLoading').html('<img src="/Images/warning.gif" height="35" width="35" />');
                    errorMessage += "Member Profile:" + errMsg + ";";
                }
                SearchSSNFinishLoading = true;
                $('#LoadingModal').modal(options);
                $('#LoadingModal').modal('show');
            }
            if (divID === "COOPLoading") {
                if (isSuccess) {
                    $('#COOPLoading').html('<img src="/Images/checkmark.png" height="35" width="35" />');
                }
                else {
                    $('#COOPLoading').html('<img src="/Images/warning.gif" height="35" width="35" />');
                    errorMessage += "COOP:" + errMsg + ";";
                }
                CoopFinishLoading = true;


                $('#LoadingModal').modal(options);
                $('#LoadingModal').modal('show');
            }
            //if (divID === "SearchBySSNTestLoading") {
            //    if (isSuccess) {
            //        $('#SearchBySSNTestLoading').html('<img src="/Images/checkmark.png" height="35" width="35" />');
            //    }
            //    else {
            //        $('#SearchBySSNTestLoading').html('<img src="/Images/warning.gif" height="35" width="35" />');
            //        errorMessage += "Details:" + errMsg + ";";
            //    }
            //    SearchBySSNTestFinishLoading = true;


            //    $('#LoadingModal').modal(options);
            //    $('#LoadingModal').modal('show');
            //}

            if (SearchSSNFinishLoading && CoopFinishLoading /*&& SearchBySSNTestFinishLoading*/) {

                console.log("Aall done! hiding loading modal");
                HideModal();
                $('#LoadingModal').modal('hide');
                $('#SearchBySSNLoading').html('<img src="/Images/spinner.gif" height="35" width="35" />');
                $('#COOPLoading').html('<img src="/Images/spinner.gif" height="35" width="35" />');
                //$('#SearchBySSNTestLoading').html('<img src="/Images/spinner.gif" height="35" width="35" />');

                if (errorMessage != "") {
                    PopUpTwoCol(errorMessage, "Errors", "Transaction", "Message");
                }

                errorMessage = "";
                SearchSSNFinishLoading = false;
                //SearchBySSNTestFinishLoading = false;
                CoopFinishLoading = false;
            }
        }

    </script>
    <script>
        $(document).ready(function () {
            $('#myModal').modal('hide');
        });

        function HideModal() {
            $('#myModal').modal('hide');
        }

        function PopUp(FlagLstStr) {
            if (!FlagLstStr || /^\s*$/.test(FlagLstStr)) {
                console.log("empty string: " + FlagLstStr);
                return;
            }
            //debugger;
            var ajaxCallURL = '/MiserLogin/FlagsDescPopUp';
            //alert(FlagLstStr + " /// " + ajaxCallURL);
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                url: ajaxCallURL,
                type: "get",

                //contentType: "application/json; charset=utf-8",
                //dataType: 'json',
                data: { 'flagDesc': FlagLstStr },
                //data: JSON.stringify(FlagLstStr),
                //datatype: "json",
                success: function (data) {
                    //alert("OK");

                    //debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    //alert("Content load failed. " + msg);
                    console.log("Content load failed. " + msg);
                }
            });
        }
        function PopUpTwoCol(FlagLstStr, title = "", col1 = "Name", col2 = "SSN") {
            if (!FlagLstStr || /^\s*$/.test(FlagLstStr)) {
                console.log("empty string: " + FlagLstStr);
                return;
            }
            //debugger;
            var ajaxCallURL = '/MiserLogin/TwoColmnPopUp';
            //alert(FlagLstStr + " /// " + ajaxCallURL);
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                url: ajaxCallURL,
                type: "get",

                //contentType: "application/json; charset=utf-8",
                //dataType: 'json',
                data: { 'input': FlagLstStr, 'title': title, 'ColName1': col1, 'ColName2': col2 },
                //data: JSON.stringify(FlagLstStr),
                //datatype: "json",
                success: function (data) {
                    //alert("OK");

                    //debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 400) {
                        msg = jqXHR.statusText;
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    //alert("Content load failed. " + msg);
                    console.log("Content load failed. " + msg);
                }
            });
        }
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<input id="Submit1" type="submit" value="Log Out" style='float:right;' onclick="location.href='@Url.Action("LogOut")'" />*@
    <form id="TabForm" name="TabForm" action="/MiserLogin/LoggedIn" method="post">
        @*@using (Html.BeginForm("LoggedIn", "MiserLogin", FormMethod.Post))
        {*@
        <div id="tabs" @*style="width:300px"*@>
            <ul>
                <li><a href="#tabs-1">Member Profile</a></li>
                @*<li><a href="#tabs-2">Details</a></li>*@
                <li><a href="#tabs-3">Credit card SPB</a></li>
                <li><a href="#tabs-4">Account History Inquiry</a></li>
                <li><a href="#tabs-5">Transaction Log History</a></li>
            </ul>
            <div id="tabs-1">
                @*Member Profile*@
                <div id="Display2" name="Display2"></div>
                @ViewBag.response
            </div>
            @*<div id="tabs-2">

            <div id="Display" name="Display"></div>
        </div>*@
            <div id="tabs-3">
                @*@Html.Action("ndHisPartial")*@
                <div id="DisplayCC" name="DisplayCC"></div>
                @*<input id="mscur " name="mscur" type="submit" value="MSCUR" />
            <input id="cfFTin " name="cfFTin" type="submit" value="cfFTin" />*@
            </div>
            <div id="tabs-4">
                @*@Html.Action("ndHisPartial")*@
                @Html.TextBox("accNum")
                @Html.TextBox("strDT", DateTime.Now.AddDays(-7), "{0:yyyy-MM-dd}", new { @type = "date" })
                @Html.TextBox("enDt", DateTime.Now, "{0:yyyy-MM-dd}", new { @type = "date" })
                @*<input id="ndHis" name="ndHis" type="submit" value="Search by Account (History)" />*@
                <button class="btn btn-light" type="button" id="ndHis" name="ndHis" style="line-height: 1.0">Search by Account(History)</button>
                <div id="DisplayND" name="DisplayND"></div>
            </div>
            <div id="tabs-5">
                <div id="transMonitorPartial" name="transMonitorPartial">
                    @Html.Action("TransMonitorPartial")
                </div>
            </div>
        </div>
            <br />
            <input type="hidden" id="selectedTab" name="selectedTab" value="@ViewBag.SelectedTab" />
            @*<input type="submit" value="Submit" />*@
            <div>
                <h4>Enter a Member SSN/CIF, Account Number, Name, or Address below to display Member details.</h4>
                <table>
                    
                        @*<tr>
                            <td style="padding-right:3px">
                                <input id="SSN" name="SSN" type="text" onkeyup="ValidateSSN()" value="">
                            </td>
                            <td style="line-height: 1.0">
                                <button class="btn btn-light" type="button" id="searchBySSN" name="searchBySSN" style="line-height: 1.0" onclick="Loading('0', false);SearchBySSNClicked();">Search by SSN or CIF</button>
                            </td>
                            <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=3>&nbsp;</td>

                            <td style="padding-right:3px">
                                <input id="accNum2" name="accNum2" type="text" onkeyup="ValidateAcctNum()" value="">
                            </td>
                            <td style="line-height: 1.0">
                                <button class="btn btn-light" type="button" id="searchByAccNumber" name="searchByAccNumber" style="line-height: 1.0">Search By Account Number</button>
                            </td>

                            <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=3>&nbsp;</td>

                            <td style="padding-right:3px">
                                @Html.TextBox("nameTxtBx")
                            </td>
                            <td>
                                <button class="btn btn-light" type="button" id="searchByName" name="searchByName" style="line-height: 1.0">Search By Member Name</button>
                            </td>

                        </tr>
                        <tr>
                            <td><p id="ErrorSSN" style="font-weight:bold; color:darkred;"></p></td>
                            <td colspan=3></td>
                            <td></td>
                            <td><p id="ErrorAcctNum" style="font-weight:bold; color:darkred;"></p></td>
                            <td></td>
                            <td colspan=3></td>
                            <td><p id="ErrorName" style="font-weight:bold; color:darkred;"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=12>&nbsp;</td>
                        </tr>*@
                </table>
                    <table>

                        <tr>
                            <td style="padding-right:3px">

                                <input id="SSN" name="SSN" type="text" onkeyup="ValidateSSNEvt()" value="">

                            </td>
                            <td style="line-height: 1.0">
                                <button class="btn btn-light" type="button" id="searchBySSN" name="searchBySSN" style="line-height: 1.0" onclick="Loading('0', false);SearchBySSNClicked();" />Search by SSN or CIF
                            </td>

                            <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=3>&nbsp;</td>


                            <td style="padding-right:3px">
                                <input id="accNum2" name="accNum2" type="text" onkeyup="ValidateAcctNumEvt()" value="">
                            </td>
                            <td style="line-height: 1.0">
                                <button class="btn btn-light" type="button" id="searchByAccNumber" name="searchByAccNumber" style="line-height: 1.0">Search By Account Number</button>
                            </td>
                            <td style=" text-align: center; ">

                                <!-- Rounded switch -->

                                @*<label class="switch">
                                    <input id="HideBalChBx" name="HideBalChBx" type="checkbox">
                                    <span class="slider round"></span>
                                </label><text id="HideBalTxt" name="HideBalTxt"><b> Hide Balance on Receipt</b></text>*@
                            </td>

                        </tr>
                        <tr>
                            <td><p id="ErrorSSN" style="font-weight:bold; color:darkred;"></p></td>
                            <td colspan=3></td>
                            <td></td>
                            <td><p id="ErrorAcctNum" style="font-weight:bold; color:darkred;"></p></td>
                            <td></td>
                        </tr>
                        <tr>

                            @*<td style="padding-right:3px">
                                @Html.TextBox("nameTxtBx")
                            </td>*@
                            <td style="padding-right:3px">
                                <input id="mname" name="mname" type="text" onkeyup="ValidateNameEvt()" value="">
                            </td>
                            <td>
                                <button class="btn btn-light" type="button" id="searchByName" name="searchByName" style="line-height: 1.0">Search By Member Name</button>
                            </td>
                            <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=3>&nbsp;</td>


                            <td style="padding-right:3px">
                                <input id="maddress" name="maddress" type="text" onkeyup="ValidateAddressEvt()" value="">
                            </td>
                            <td>
                                <button class="btn btn-light" type="button" id="searchByAddress" name="searchByAddress" style="line-height: 1.0">Search By Member Address</button>
                            </td>

                        </tr>
                        <tr>
                            <td><p id="ErrorName" style="font-weight:bold; color:darkred;"></p></td>
                            <td colspan=3></td>
                            <td></td>
                            <td><p id="ErrorAddress" style="font-weight:bold; color:darkred;"></p></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=12>&nbsp;</td>
                        </tr>
                    </table>
</div>
            <div id="searchByAccNumberPartial" name="searchByAccNumberPartial">

                @*@Html.Action("searchByAccNumber_PView")*@

            </div>

            @*<input id="mscur " name="mscur" type="submit" value="MSCUR" />
                <input id="cfFTin " name="cfFTin" type="submit" value="cfFTin" />*@
            <div id="monitorPartial" name="monitorPartial">
                @Html.Action("MonitorPartial")
            </div>
        @*}*@
        </form>
        <div>
            <input id="LogOut" type="submit" value="LogOut" style='float:right;' onclick="location.href='@Url.Action("LogOut")'" />
        </div>
        <div id='LoadingModal' class='modal' style="text-align:center; ">

            <div class="modal-dialog" style="width:120px; height:60px; padding:5px;">
                <div class="modal-content" style="width:300px; height:120px ; padding:1px; background-color:#d2f5f4;">

                    <h1>LOADING...</h1>
                    <div align="center">
                        <table>
                            <tr>
                                <td align="center">
                                    <div id='SearchBySSNLoading' style="width:45px; height:20px; padding:1px;"></div>
                                </td>
                                @*<td align="center">
                                    <div id='SearchBySSNTestLoading' style="width:45px; height:20px; padding:1px;"></div>
                                </td>*@
                                <td align="center">
                                    <div id='COOPLoading' style="width:45px; height:20px; padding:1px;"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id='myModal' class='modal' style="text-align:left; ">
            <div class="modal-dialog" style="width:565px; height:300px; padding:10px;">
                <div class="modal-content" style="overflow: auto; padding:10px; background-color:#d2f5f4;">
                    <table>
                        <tr>
                            @*<td>
                        <h3>Flags</h3>
                        </td>*@
                            @*<td>
                        <button type="button" id="closbtn" onclick="HideModal()">X</button>
                        </td>*@
                        </tr>
                        <tr>
                            <td>
                                <div id='myModalContent' align="center" style="width:500px; max-height:250px; overflow: auto;padding:10px; "></div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right">
                                <button type="button" align="center" id="closbtn" onclick="HideModal()">Close</button>
                            </td>
                        </tr>
                    </table>



                </div>
            </div>
        </div>
        @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> Deleted this tomake it work with table functionallity</script>*@
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
            <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/start/jquery-ui.css"
                rel="stylesheet" type="text/css" />*@
        <script type="text/javascript">
           
            function DeleteTxtBx() {
                document.getElementById('SSN').value = "";
                document.getElementById('mname').value = "";
                document.getElementById('accNum2').value = "";
                document.getElementById('nameTxtBx').value = "";
                document.getElementById('maddress').value = "";
            }
            function ValidateWhiteSpace(id) {
                var x, text;

                // Get the value of the input field with id="numb"
                x = document.getElementById(id).value;

                //regex for numbers only
                var reg = new RegExp('/^\s*$/');
                console.log("ValidateWhiteSpace()" + reg.test(x));

                //debugger;

                if (x === "") {
                    return false;
                }
                if (reg.test(x)) {
                    return false;
                } else {
                    return true;
                }
            }
            function ValidateSSNEvt()
            {
                if (event.keyCode === 13) {
                     SearchBySSNClicked();
                }
                ValidateSSN();
            }
            function ValidateSSN() {
                var x, text;

                // Get the value of the input field with id="numb"
                x = document.getElementById("SSN").value;

                //regex for numbers only
                var reg = new RegExp('^(([0-9]*)|([0-9]{3}-?[0-9]{2}-?[0-9]{4}))$');
                console.log(reg.test(x));

                // If x is Not a Number or less than one or greater than 10
                if (!reg.test(x)) {
                    text = "Input not valid: numbers only or xxx-xx-xxxx";
                    document.getElementById("ErrorSSN").innerHTML = text;
                    return false;
                } else {
                    text = "";
                    document.getElementById("ErrorSSN").innerHTML = text;
                    return true;
                }

            }
            function ValidateAcctNumEvt()
            {
                if (event.keyCode === 13) {
                    searchByAccNumberFN();
                }
                ValidateAcctNum();
            }
            function ValidateAcctNum() {
                var x, text;

                // Get the value of the input field with id="numb"
                x = document.getElementById("accNum2").value;

                //regex for numbers only
                var reg = new RegExp('^[0-9]*$');
                console.log(reg.test(x));

                // If x is Not a Number or less than one or greater than 10
                if (!reg.test(x)) {
                    text = "Input not valid: numbers only";
                    document.getElementById("ErrorAcctNum").innerHTML = text;
                    return false;
                } else {
                    text = "";
                    document.getElementById("ErrorAcctNum").innerHTML = text;
                    return true;
                }
            }
            function ValidateNameEvt()
            {
                if (event.keyCode === 13) {
                    SearchByNameFN();
                }
              //  ValidateName();
            }
            function ValidateAddressEvt() {
                if (event.keyCode === 13) {
                    SearchByAddressFN();
                }
                //  ValidateName();
            }
           
        </script>
        <script type="text/javascript">
            var selected_tab = 0;
            //tabs function
            $(function () {
                var tabs = $("#tabs").tabs({
                    select: function (e, i) {
                        selected_tab = i.index;
                    }
                });
                selected_tab = $("#selectedTab").val() != "" ? parseInt($("#selectedTab").val()) : 0;
                tabs.tabs('select', selected_tab);
                $("form").submit(function () {
                    $("#selectedTab").val(selected_tab);
                });
            });
            // log out function
            $(function () {
                $('#LogOut').on('click', function (evt) {
                    $.ajax({
                        url: "LogOut",
                    });
                });
            });
            ////$(function () {
            ////    $('#searchBySSN').on('click', function (evt) {
            ////        evt.preventDefault();
            ////        $("#Display").html = "";
            ////        $("#Display").html("");
            ////        document.getElementById("Display").innerHTML = "";
            ////        $("#Display2").html = "";
            ////        $("#Display2").html("");
            ////        document.getElementById("Display2").innerHTML = "";
            ////        $("#DisplayCC").html = "";
            ////        $("#DisplayCC").html("");
            ////        document.getElementById("DisplayCC").innerHTML = "";
            ////        searchBySSN();
            ////        SSNsearchProf();
            ////        CCDetails()
            ////    });
            ////});
            function SearchBySSNClicked()
            {
                if (ValidateSSN() && ValidateWhiteSpace("SSN")) {
                    //$("#Display").html = "";
                    //$("#Display").html("");
                    //document.getElementById("Display").innerHTML = "";
                    $("#Display2").html = "";
                    $("#Display2").html("");
                    document.getElementById("Display2").innerHTML = "";
                    $("#DisplayCC").html = "";
                    $("#DisplayCC").html("");
                    document.getElementById("DisplayCC").innerHTML = "";

                    $("#searchByAccNumberPartial").html = "";
                    $("#searchByAccNumberPartial").html("");
                    document.getElementById("searchByAccNumberPartial").innerHTML = "";

                    //searchBySSN();
                    SSNsearchProf();
                    CCDetails();
                   // DeleteTxtBx();
                }
                else {
                    //Loading("SearchBySSNTestLoading", false, "Invalid input");
                    Loading("SearchBySSNLoading", false, "Invalid input");
                    Loading("COOPLoading", false, "Invalid input");
                    
                }
                DeleteTxtBx();
            }
            //$(function () {
            //    $('#searchBySSN').on('click', function (evt) {
            //        evt.preventDefault();
            //        SearchBySSNClicked();
            //    });
            //});
            function CCDetails() {
                $.ajax({
                    url: "COOP",
                    //url: "SNNsearch_Profile_PView",
                    type: "get",
                    data: {
                        "SSN": $("input[name='SSN']").val().replace(/\-/g, "")
                    },
                    success: function (result) {
                        $("#DisplayCC").html = "";
                        $("#DisplayCC").html(result);
                        //initializeAmountProcessed();
                        Loading("COOPLoading", true);
                    },
                    error: function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 400) {
                            msg = jqXHR.statusText;
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        //alert("Content load failed. " + msg);
                        console.log("Content load failed. " + msg);
                        Loading("COOPLoading", false, msg);
                    }
                });
            }
            //function searchBySSN() {
            //    $.ajax({
            //        url: "SearchBySSN_PartialView_test",
            //        //url: "SNNsearch_Profile_PView",
            //        type: "get",
            //        data: {
            //            "SSN": $("input[name='SSN']").val().replace(/\-/g, "")
            //        },
            //        success: function (result) {
            //            $("#Display").html = "";
            //            $("#Display").html(result);
            //            //initializeAmountProcessed();
            //            Loading("SearchBySSNTestLoading", true);
            //        },
            //        error: function (jqXHR, exception) {
            //            var msg = '';
            //            if (jqXHR.status === 0) {
            //                msg = 'Not connect.\n Verify Network.';
            //            } else if (jqXHR.status == 404) {
            //                msg = 'Requested page not found. [404]';
            //            } else if (jqXHR.status == 400) {
            //                msg = jqXHR.statusText;
            //            } else if (jqXHR.status == 500) {
            //                msg = 'Internal Server Error [500].';
            //            } else if (exception === 'parsererror') {
            //                msg = 'Requested JSON parse failed.';
            //            } else if (exception === 'timeout') {
            //                msg = 'Time out error.';
            //            } else if (exception === 'abort') {
            //                msg = 'Ajax request aborted.';
            //            } else {
            //                msg = 'Uncaught Error.\n' + jqXHR.responseText;
            //            }
            //            //alert("Content load failed. " + msg);
            //            console.log("Content load failed. " + msg);
            //            Loading("SearchBySSNTestLoading", false, msg);
            //        }
            //    });
            //}

            function SSNsearchProf() {
                $.ajax({
                    url: "SSNsearch_Profile_PView",
                    //url: "SNNsearch_Profile_PView",
                    type: "get",
                    data: {
                        "SSN": $("input[name='SSN']").val().replace(/\-/g, "")
                    },
                    success: function (result) {
                        $("#Display2").html = "";
                        $("#Display2").html(result);
                        //initializeAmountProcessed();
                        Loading("SearchBySSNLoading", true);
                    },
                    error: function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 400) {
                            msg = jqXHR.statusText;
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        //alert("Content load failed. " + msg);
                        console.log("Content load failed. " + msg);
                        Loading("SearchBySSNLoading", false, msg);
                    }
                });
            }
            //ndhis function
            $(function () {
                $('#ndHis').on('click', function (evt) {
                    evt.preventDefault();
                    $.ajax({
                        url: "ndHisPartial",
                        //url: "SNNsearch_Profile_PView",
                        type: "get",
                        data: {
                            "accNum": $("input[name='accNum']").val().replace(/\-/g, ""),
                            "strDT": $("input[name='strDT']").val(),
                            "enDt": $("input[name='enDt']").val()
                        },
                        success: function (result) {
                            $("#DisplayND").html = "";
                            $("#DisplayND").html(result);
                            //initializeAmountProcessed();
                        }
                    });
                });
            });

            function loadMonitorPartialView() {
                $.ajax({
                    url: "MonitorPartial",
                    //url: "SNNsearch_Profile_PView",
                    type: "get",

                    success: function (result) {
                        $("#monitorPartial").html = "";
                        $("#monitorPartial").html(result);
                        //initializeAmountProcessed();
                    }
                });
            }
            $(document).ready(function () {
                function RefreshPartial() {
                    //this will wait 3 seconds and then fire the load partial function
                    setTimeout(function () {
                       
                        loadMonitorPartialView();
                        //recall this function so that it will continue to loop
                        RefreshPartial();
                    }, 3000);
                }
                //initialize the loop
                RefreshPartial();
            });
            function searchByAccNumberFN()
            {
                if (ValidateAcctNum() && ValidateWhiteSpace("accNum2")) {
                    $("#searchByAccNumberPartial").html = "";
                    $("#searchByAccNumberPartial").html("");
                    document.getElementById("searchByAccNumberPartial").innerHTML = "";
                    $.ajax({
                        url: "SearchByAccNumber",
                        //url: "SNNsearch_Profile_PView",
                        type: "get",
                        data: {
                            "accNum2": $("input[name='accNum2']").val().replace(/\-/g, "")
                        },
                        success: function (result) {
                            $("#searchByAccNumberPartial").html = "";
                            $("#searchByAccNumberPartial").html(result);
                            //initializeAmountProcessed();
                        },
                        error: function (jqXHR, exception) {
                            var msg = '';
                            if (jqXHR.status === 0) {
                                msg = 'Not connect.\n Verify Network.';
                            } else if (jqXHR.status == 404) {
                                msg = 'Requested page not found. [404]';
                            } else if (jqXHR.status == 400) {
                                msg = jqXHR.statusText;
                            } else if (jqXHR.status == 500) {
                                msg = 'Internal Server Error [500].';
                            } else if (exception === 'parsererror') {
                                msg = 'Requested JSON parse failed.';
                            } else if (exception === 'timeout') {
                                msg = 'Time out error.';
                            } else if (exception === 'abort') {
                                msg = 'Ajax request aborted.';
                            } else {
                                msg = 'Uncaught Error.\n' + jqXHR.responseText;
                            }
                            //alert("Content load failed. " + msg);
                            console.log("Content load failed. " + msg);
                            Loading("COOPLoading", false, msg);
                            Loading("SearchBySSNLoading", false, msg);
                            //Loading("SearchBySSNTestLoading", false, msg);
                        }
                    });
                }
                else {
                    Loading("COOPLoading", false, "Invalid Input");
                    Loading("SearchBySSNLoading", false, "Invalid Input");
                    //Loading("SearchBySSNTestLoading", false, "Invalid Input");
                }
            }
            //search by acc number function
            $(function () {
                $('#searchByAccNumber').on('click', function (evt) {
                    evt.preventDefault();
                    searchByAccNumberFN();
                });
            });
            function SearchByNameFN()
            {
                if (ValidateWhiteSpace(/*"nameTxtBx"*/"mname"))
                {
                    $("#searchByAccNumberPartial").html = "";
                    $("#searchByAccNumberPartial").html("");
                    document.getElementById("searchByAccNumberPartial").innerHTML = "";
                    $.ajax({
                        url: "SearchByName",
                        //url: "SNNsearch_Profile_PView",
                        type: "get",
                        data: {
                            "MemberName": $("input[name='mname']").val().replace(/\-/g, "")
                            //"MemberName": $("input[name='nameTxtBx']").val().replace(/\-/g, "")
                        },
                        success: function (result) {
                            $("#searchByAccNumberPartial").html = "";
                            $("#searchByAccNumberPartial").html(result);
                            //initializeAmountProcessed();
                        },
                        error: function (jqXHR, exception) {
                            var msg = '';
                            if (jqXHR.status === 0) {
                                msg = 'Not connect.\n Verify Network.';
                            } else if (jqXHR.status == 404) {
                                msg = 'Requested page not found. [404]';
                            } else if (jqXHR.status == 400) {
                                msg = jqXHR.statusText;
                            } else if (jqXHR.status == 500) {
                                msg = 'Internal Server Error [500].';
                            } else if (exception === 'parsererror') {
                                msg = 'Requested JSON parse failed.';
                            } else if (exception === 'timeout') {
                                msg = 'Time out error.';
                            } else if (exception === 'abort') {
                                msg = 'Ajax request aborted.';
                            } else {
                                msg = 'Uncaught Error.\n' + jqXHR.responseText;
                            }
                            //alert("Content load failed. " + msg);
                            console.log("Content load failed. " + msg);
                            Loading("COOPLoading", false, msg);
                            Loading("SearchBySSNLoading", false, msg);
                            //Loading("SearchBySSNTestLoading", false, msg);
                        }
                    });
                }
                else {
                    //Loading("SearchBySSNTestLoading", false, "Invalid input");
                    Loading("SearchBySSNLoading", false, "Invalid input");
                    Loading("COOPLoading", false, "Invalid input");
                }
            }
            //Search By Name function
            $(function () {
                $('#searchByName').on('click', function (evt) {
                    evt.preventDefault();
                    SearchByNameFN();
                });
            });
            maddress
            function SearchByAddressFN()
            {
                if (ValidateWhiteSpace("maddress")) {
                    $("#searchByAccNumberPartial").html = "";
                    $("#searchByAccNumberPartial").html("");
                    document.getElementById("searchByAccNumberPartial").innerHTML = "";
                    $.ajax({
                        url: "SearchByAddress",
                        //url: "SNNsearch_Profile_PView",
                        type: "get",
                        data: {
                            "Address": $("input[name='maddress']").val().replace(/\-/g, "")
                        },
                        success: function (result) {
                            $("#searchByAccNumberPartial").html = "";
                            $("#searchByAccNumberPartial").html(result);
                            //initializeAmountProcessed();
                        },
                        error: function (jqXHR, exception) {
                            debugger;
                            var msg = '';
                            if (jqXHR.status === 0) {
                                msg = 'Not connect.\n Verify Network.';
                            } else if (jqXHR.status == 404) {
                                msg = 'Requested page not found. [404]';
                            } else if (jqXHR.status == 400) {
                                msg = jqXHR.statusText;
                            } else if (jqXHR.status == 500) {
                                msg = 'Internal Server Error [500].';
                            } else if (exception === 'parsererror') {
                                msg = 'Requested JSON parse failed.';
                            } else if (exception === 'timeout') {
                                msg = 'Time out error.';
                            } else if (exception === 'abort') {
                                msg = 'Ajax request aborted.';
                            } else {
                                msg = 'Uncaught Error.\n' + jqXHR.responseText;
                            }
                            //alert("Content load failed. " + msg);
                            console.log("Content load failed. " + msg);
                            Loading("COOPLoading", false, msg);
                            Loading("SearchBySSNLoading", false, msg);
                            //Loading("SearchBySSNTestLoading", false, msg);
                        }
                    });
                }
                else {
                    //Loading("SearchBySSNTestLoading", false, "Invalid input");
                    Loading("SearchBySSNLoading", false, "Invalid input");
                    Loading("COOPLoading", false, "Invalid input");
                }
                DeleteTxtBx();
            }
            //Search by Address function
            $(function () {
                $('#searchByAddress').on('click', function (evt) {
                    evt.preventDefault();
                    SearchByAddressFN();
                });
            });
            //Hide Balance Checkbox Function
            $(function () {
                $('#HideBalChBx').on('click', function (evt) {
                    //evt.preventDefault();
                    //alert("chckbx clicked, new val: " + $('#HideBalChBx').is(':checked'));

                    $.ajax({
                        type: "POST",
                        url: "HideBalanceToggle",
                        //(int SessionID, bool isHidden)
                        data: { "isHidden": $('#HideBalChBx').is(':checked') },
                        dataType: "json",
                        success: function (actionInfo) {

                            $('#HideBalChBx').prop('checked', actionInfo.Success);
                            document.getElementById("HideBalTxt").innerHTML = "<b>Session ID: " + actionInfo.SessionID + " Hide Balance on Receipt</b > ";
                        },
                        error: function (jqXHR, exception) {
                            debugger
                            var msg = '';
                            if (jqXHR.status === 0) {
                                msg = 'Not connect.\n Verify Network.';
                            } else if (jqXHR.status == 404) {
                                msg = 'Requested page not found. [404]';
                            } else if (jqXHR.status == 400) {
                                msg = jqXHR.statusText;
                            } else if (jqXHR.status == 500) {
                                msg = 'Internal Server Error [500].';
                            } else if (exception === 'parsererror') {
                                msg = 'Requested JSON parse failed.';
                            } else if (exception === 'timeout') {
                                msg = 'Time out error.';
                            } else if (exception === 'abort') {
                                msg = 'Ajax request aborted.';
                            } else {
                                msg = 'Uncaught Error.\n' + jqXHR.responseText;
                            }
                            //alert("Content load failed. " + msg);
                            console.log("Content load failed. " + msg);
                            Loading("COOPLoading", false, msg);
                            Loading("SearchBySSNLoading", false, msg);
                            Loading("SearchBySSNTestLoading", false, msg);
                        }
                    });


                });
            });
        </script>

        <script>
            function SearchByAccSNN(SSN) {
                //$("#Display").html = "";
                //$("#Display").html("");
                //document.getElementById("Display").innerHTML = "";
                $("#Display2").html = "";
                $("#Display2").html("");
                document.getElementById("Display2").innerHTML = "";
                $("#DisplayCC").html = "";
                $("#DisplayCC").html("");
                document.getElementById("DisplayCC").innerHTML = "";
                // evt.preventDefault();
                //$("#searchByAccNumberPartial").html = ""; WIll hide the ACC number search results
                //$("#searchByAccNumberPartial").html("");
                //document.getElementById("searchByAccNumberPartial").innerHTML = "";
                //AccsearchBySSN(SSN);
                AccSSNsearchProf(SSN);
                AccCCDetails(SSN);
                DeleteTxtBx();
            };
            function AccCCDetails(SSN) {
                $.ajax({

                    url: "COOP",
                    //url: "SNNsearch_Profile_PView",
                    type: "get",
                    //data: {
                    //    "SSN": SSN
                    //},
                    data: { 'SSN': SSN },
                    success: function (result) {
                        $("#DisplayCC").html = "";
                        $("#DisplayCC").html(result);
                        Loading("COOPLoading", true);
                    },
                    error: function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 400) {
                            msg = jqXHR.statusText;
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        //alert("Content load failed. " + msg);
                        Loading("COOPLoading", false, msg);
                    }
                });
            }
            //function AccsearchBySSN(SSN) {
            //    $.ajax({
            //        url: "SearchBySSN_PartialView_test",
            //        type: "get",
            //        data: {
            //            "SSN": SSN
            //        },
            //        success: function (result) {
            //            Loading("SearchBySSNTestLoading", true);
            //            $("#Display").html = "";
            //            $("#Display").html(result);
            //            //initializeAmountProcessed();
            //        },
            //        error: function (jqXHR, exception) {
            //            var msg = '';
            //            if (jqXHR.status === 0) {
            //                msg = 'Not connect.\n Verify Network.';
            //            } else if (jqXHR.status == 404) {
            //                msg = 'Requested page not found. [404]';
            //            } else if (jqXHR.status == 400) {
            //                msg = jqXHR.statusText;
            //            } else if (jqXHR.status == 500) {
            //                msg = 'Internal Server Error [500].';
            //            } else if (exception === 'parsererror') {
            //                msg = 'Requested JSON parse failed.';
            //            } else if (exception === 'timeout') {
            //                msg = 'Time out error.';
            //            } else if (exception === 'abort') {
            //                msg = 'Ajax request aborted.';
            //            } else {
            //                msg = 'Uncaught Error.\n' + jqXHR.responseText;
            //            }
            //            //alert("Content load failed. " + msg);
            //            console.log("Content load failed. " + msg);
            //            Loading("SearchBySSNTestLoading", false, msg);
            //        }
            //    });
            //}
            function AccSSNsearchProf(SSN) {
                $.ajax({
                    url: "SSNsearch_Profile_PView",
                    type: "get",
                    //data: {
                    //    "SSN": SSN
                    //},
                    data: { 'SSN': SSN },
                    success: function (result) {
                        Loading("SearchBySSNLoading", true);
                        $("#Display2").html = "";
                        $("#Display2").html(result);
                        //initializeAmountProcessed();
                    },
                    error: function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 400) {
                            msg = jqXHR.statusText;
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        //alert("Content load failed. " + msg);
                        console.log("Content load failed. " + msg);
                        Loading("SearchBySSNLoading", false, msg);
                    }
                });
            }


        </script>
</body>
</html>