@model MVCMiserLogin.Models.MiserLoginModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@{
    ViewBag.Title = "MiserLoginInfo";
}

<h2>Login to MISER</h2>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Teller Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MiserStation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.MiserStation, new { htmlAttributes = new { @class = "form-control" } })*@
                @{
                    string hostName1 = TempData["HostName"].ToString();
                    string hostName = "MISERSTA" + hostName1;

                }
                @if (!System.Text.RegularExpressions.Regex.IsMatch(hostName1, "^[0-9]*$"))
                {@*Not in the DB table*@
                    hostName = "MISERSTA" + hostName1.Substring(Math.Max(0, hostName1.Length - 4));
                    <input name="MiserStation" value="@hostName" id="MiserStation" />
                    <span id="spnWarning" style='display:ruby-text-container;color:red'> Your Miser STA is not in the DB table, please contact your supervisor to be added. <br /> 
                                                                                            To log in once, manually enter your Miser STAwith format: MISERSTA1234</span> }
                else
                {
                    <input type="hidden" name="MiserStation" value="@hostName" id="MiserStation" />
                    @Html.Raw("<b>" + @hostName + "</b>")
                }

                @Html.ValidationMessageFor(model => model.MiserStation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TellerNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.LabelFor(model => model.TellerNumber, (string)TempData["EmpName"].ToString())
                <input type="hidden" name="TellerNumber" value="@TempData["EmpName"].ToString()" id="TellerNumber"/>
                       @*<input type="hidden" name="TellerNumber" value="@ViewBag.identityName" id="TellerNumber" />
                 @Html.EditorFor(model => model.TellerNumber, new { htmlAttributes = new { @class = "form-control" } })
                 @Html.ValidationMessageFor(model => model.TellerNumber, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="txtPassword" onclick="IsCapsLockOn(event)" onkeyup="IsCapsLockOn(event)">
                @*@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })*@

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                <span id="spnWarning" style='display:none;color:red'> WARNING! Caps Lock is ON.</span>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CashBoxNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CashBoxNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CashBoxNum, "", new { @class = "text-danger" })
            </div>
            @* </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BegginingCash, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BegginingCash, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BegginingCash, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DailyVarDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DailyVarDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DailyVarDate, "", new { @class = "text-danger" })
                    </div>*@
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />


                @*@TempData["Message"]*@
                <font color="@TempData["color"]">@TempData["Message"]</font><br />
                @*<font color="@TempData["color"]">@TempData["Message2"]</font>*@
                <font color="@TempData["color"]">@Html.Raw(TempData["Message2"])</font>

                @*@{
                    TempData["Message"] = "MiserLoginInfo";
                    }*@

                @if (TempData["Message"] != null)
                {
                    <script type="text/javascript">
                        window.onload = function ()
                        {
                            alert("@TempData["Message"]");
                        };
                    </script>
                }
            </div>
        </div>
    </div>
}

<div>
    @{
        string msg1 = "GECU <a href=\"https://intranet.com/index.sstg\">Intranet</a>.";
        @Html.Raw(msg1)
        @*@Html.Raw.ActionLink("Back to List", "msg1")*@
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
<script>
    function IsCapsLockOn(event) {
        if (event.getModifierState("CapsLock")) {  // If "caps lock" is pressed, display the warning text
            document.getElementById("spnWarning").style.display = "block";
        }
        else {
            document.getElementById("spnWarning").style.display = "none";
        }
    }
</script>