@*@model IEnumerable<MVCMiserLogin.sbuser_TransactionLog>*@
@model List<MVCMiserLogin.Models.MonitorPartialModel>

@Styles.Render("~/Content/css")
@*@Scripts.Render("~/bundles/modernizr")*@

<!DOCTYPE html>

<html>
<head>
 
    <style type="text/css">

        .True { /* consitional color background*/
            background-color: palegreen;
            background-clip: padding-box; /* rounded corners cell */
        }

        .NULL {
            background-color: yellow;
        }

        .null {
            background-color: yellow;
        }
        /*:empty{
            background-color: yellow;
        }*/
        .False {
            background-color: lightcoral;
            background-clip: padding-box;
            border-radius: 3px;
        }

        .table td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 11px;
            overflow: hidden;
            padding: 4px 3px;
            word-break: normal;
        }

        .table th {
            border-color: black;
            background-color: #B8DBFD;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-weight: 900;
            font-size: 12px;
            /*font-weight: normal;*/
            overflow: hidden;
            padding: 5px 5px;
            word-break: normal;
        }

        td {
            background-clip: padding-box;
        }
    </style>
    @*<script>
        $(function () {
            $('#dataTable3').DataTable({
                "order": [[0, 'desc']],
                //"pageLength": 3,
                "paging": false,
                //"lengthChange": false,
                "searching": false,
                //"ordering": true,
                //"info": true,
                //"autoWidth": false
            });
        });
    </script>*@
</head>


<body>
    <div class="container">
        <h2>Transactions log for Teller @TempData["EmpNum"] </h2>

        @*<p>&nbsp;</p>*@
        <table>
            @*<thead>
                <tr>
                    <th>Color Code</th>
                </tr>
            </thead>*@
            <tbody>
                <tr>
                    <td bgcolor="lightyellow">Pending</td>
                    <td bgcolor="lightcoral">Failed</td>
                    <td bgcolor="palegreen">Success</td>
                    <td bgcolor="lightblue">Reversal</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered " id="dataTable3" cellspacing="0">
            @*<table style="width:100%">*@
            @*<table>*@
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CreationDate)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().SourceAccountNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().SourceAccountType) </th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DestinationAccountNumber) </th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DestinationAccountType)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TransactionAmount)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Memo)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().SessionIdentifier)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MachineGroupName) </th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TransactionIdentifier)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TransactionType)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Status)</th>
                </tr>
            <thead>

            <tbody>
                @foreach (var item in Model)
                {
                    DateTime time = Convert.ToDateTime(item.CreationDate);
                    string times = time.ToLongTimeString();
                <tr background-clip: padding-box;>
                   @*<td style="white-space:nowrap">@Html.DisplayFor(modelItem => item.CreationDate)</td>*@
                    <td style="white-space:nowrap">@Html.Raw(times)</td>
                    <td>@Html.DisplayFor(modelItem => item.SourceAccountNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.SourceAccountType)</td>
                    <td>@Html.DisplayFor(modelItem => item.DestinationAccountNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.DestinationAccountType)</td>
                    <td style="text-align:right">@Html.Raw(Convert.ToDecimal(item.TransactionAmount).ToString("#,##0.00")) </td>
                    <td>@Html.DisplayFor(modelItem => item.Memo)</td>
                    <td>@Html.DisplayFor(modelItem => item.SessionIdentifier)</td>
                    <td>@Html.DisplayFor(modelItem => item.MachineGroupName)</td>
                    <td>@Html.DisplayFor(modelItem => item.TransactionIdentifier)</td>
                    <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                    <td @if (item.Status == null) { @: style='background-color:beige'
                        } else if (item.Status == "0") { @: style='background-color:coral'
                        } else if (item.Status == "1") { @: style='background-color:lightgreen'
                        } else if (item.Status == "2") { @: style='background-color:lightblue'
                        }>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    @*<td class="@item.Status">@Html.DisplayFor(modelItem => item.Status)</td>
            <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
                </tr>
                }
            </tbody>
        </table>

    </div>
    @*<script>
            $(document).ready(function () {
                $('#dataTable3').DataTable();
            });
        </script>*@
</body>
</html>
