@model  MVCMiserLogin.Models.SSNsearch_Profile_PView

<!DOCTYPE html>
<html>
<head>
    @*@Scripts.Render("~/Scripts/CollapsibleTable.js")*@
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            font-size: 10pt;
        }

        .Grid {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            .Grid th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            .Grid th, .Grid td {
                padding: 5px;
                border: 1px solid #ccc;
                font-family: Arial, sans-serif;
                font-size: 12pt;
            }

            .Grid img {
                cursor: pointer;
            }

        .ChildGrid {
            width: 100%;
        }

            .ChildGrid th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
                /*border-color: black;
                background-color: #ccc;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-weight: bold;
                font-weight: 900;
                font-size: 12px;
                /*font-weight: normal;*/
                overflow: auto;
                padding: 5px 5px;
                word-break: normal;
            }
            .ChildGrid td {
               border-color: lightgray;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 12px;
                /*overflow: auto;*/
                padding: 3px 3px;
                word-break: normal;
            }
    </style>
</head>
<body>
    <div class="table-responsive">
        <text>&nbsp;</text>
        <text></text>
        @{string IDtype1 = null, IDtype2 = null, IDtype3 = null, mmn = null, expDate1 = null, expDate2 = null, expDate3 = null, note1 = null, note2 = null;}
        @{long cc = 0; }
        <table cellpadding="0" width=100% cellspacing="0" class="Grid table-striped table-hover text-center col-sm-15">
            <tr>
                <th> Member Name</th>
                <th> Date of Birth</th>
                <th> SSN</th>
                <th> Mother’s Maiden Name</th>
                <th> Address</th>
                <th> City, State, ZipCode </th>
                <th> CIF</th>
            </tr>

            @foreach (var miserReply in Model.MiserReply)
            {

                string name = miserReply.Formats.OfType<MISER.TranGen.Format00112>().FirstOrDefault().RR_CFCMI_NA_LINE_1.ToString();
                string dob = miserReply.Formats.OfType<MISER.TranGen.Format00112>().FirstOrDefault().RR_CFCMI_BIRTH_DATE.ToString("MM/dd/yyyy");
                string ssn = miserReply.Formats.OfType<MISER.TranGen.Format00112>().FirstOrDefault().RR_CFCMI_TAX_ID_NBR.ToString().PadLeft(9, '0');
                try
                {
                    mmn = miserReply.Formats.OfType<MISER.TranGen.Format00112>().FirstOrDefault().RR_CFCMI_MAIDEN_NAME.ToString();
                }
                catch { mmn = "n/a"; }
                string addr1 = miserReply.Formats.OfType<MISER.TranGen.Format00112>().FirstOrDefault().RR_CFCMI_NA_LINE_2.ToString();
                string addr2 = miserReply.Formats.OfType<MISER.TranGen.Format00112>().FirstOrDefault().RR_CFCMI_NA_LINE_3.ToString();
                string cif = miserReply.Formats.OfType<MISER.TranGen.Format00112>().FirstOrDefault().RR_CFCMI_CIF_NBR.ToString();
                //string otherNames = miserReply.Formats.OfType<MISER.TranGen.Format00116>
                // ().Distinct().RR_CFCAR_NAME_1.ToString();
                try
                {
                    IDtype1 = miserReply.Formats.OfType<MISER.TranGen.Format00754>().FirstOrDefault().RR_CFMID_TYPE_1;
                    expDate1 = miserReply.Formats.OfType<MISER.TranGen.Format00754>().FirstOrDefault().RR_CFMID_EXP_DT_1.ToString("MM/dd/yyyy");
                }
                catch { IDtype1 = null; expDate1 = null; }
                try
                {
                    IDtype2 = miserReply.Formats.OfType<MISER.TranGen.Format00754>().FirstOrDefault().RR_CFMID_TYPE_2;
                    expDate2 = miserReply.Formats.OfType<MISER.TranGen.Format00754>().FirstOrDefault().RR_CFMID_EXP_DT_2.ToString("MM/dd/yyyy");
                }
                catch { IDtype2 = null; expDate2 = null; }
                try
                {
                    IDtype3 = miserReply.Formats.OfType<MISER.TranGen.Format00754>().FirstOrDefault().RR_CFMID_TYPE_3;
                    expDate3 = miserReply.Formats.OfType<MISER.TranGen.Format00754>().FirstOrDefault().RR_CFMID_EXP_DT_3.ToString("MM/dd/yyyy");
                }
                catch { IDtype3 = null; expDate3 = null; }
                note1 = miserReply.Formats.OfType<MISER.TranGen.Format00112>().FirstOrDefault().RR_CFCMI_COMMENT_1;
                note2 = miserReply.Formats.OfType<MISER.TranGen.Format00112>().FirstOrDefault().RR_CFCMI_COMMENT_2;

                try
                {

                    cc = miserReply.Formats.OfType<MISER.TranGen.Format00118>().FirstOrDefault().RR_MSERS_ACCT_NBR;
                }
                catch { cc = 0; }
                <tr>
                    <td>@Html.Raw(name)</td>
                    <td>@Html.Raw(dob)</td>
                    <td>@Html.Raw(ssn)</td>
                    <td>@Html.Raw(mmn)</td>
                    <td>@Html.Raw(addr1)</td>
                    <td>@Html.Raw(addr2)</td>
                    <td>@Html.Raw(cif)</td>
                </tr>
            }
        </table>

        @* <td>//QUitar este TD para que ya no este adentro de la tabla principal*@
        
        <div @*style="display:none"*@>
            @if (note1 != null || note2 != null)
            {
                <h4 style="color: royalblue; font-weight: bold">Member Note(s) and Identification(s)</h4>
            }
            else
            {
                <h4 style="color: royalblue; font-weight: bold"> Member Identification(s)</h4>
            }
            <table cellpadding="0" cellspacing="0" class="ChildGrid">
                <tr>
                    @if (note1 == null && note2 == null)
                    {

                    }
                    else
                    {
                        <td>
                            <table cellpadding="0" cellspacing="0" class="ChildGrid">
                                <tr>
                                    <th> Notes</th>
                                </tr>
                                <tr>
                                    <td>@Html.Raw(note1)</td>
                                </tr>
                                @if (note2 == null) { }
                                else
                                {
                                    <tr>
                                        <td>@Html.Raw(note2)</td>
                                    </tr>
                                }

                            </table>
                        </td>
                    }
                    <td>
                        <table cellpadding="0" cellspacing="0" class="ChildGrid">
                            <tr>
                                @if (IDtype1 != null)
                                {
                                    <th> ID Type</th>
                                    <th> ID Number</th>
                                    <th> Issued By</th>
                                    <th> Expiration Date</th>
                                }
                            </tr>
                            <MISER.TranGen.Format00754>

                                @foreach (var miserReply in Model.MiserReply)
                                {
                                    foreach (MISER.TranGen.Format00754 item in miserReply.Formats.OfType<MISER.TranGen.Format00754>().Distinct())
                                    {
                                            
                                               
                                            foreach (MISER.TranGen.Format00754 item2 in miserReply.Formats.OfType<MISER.TranGen.Format00754>().Distinct())
                                             {
                                                  <tr>
                                                      <td>@Html.Raw(IDtype1)</td>
                                                      <td>@Html.DisplayFor(modelItem => item.RR_CFMID_DATA_1)</td>
                                                      <td>@Html.DisplayFor(modelItem => item.RR_CFMID_ISSUE_BY_1)</td>
                                                      <td>@Html.Raw(expDate1)</td>
                                                   </tr>
                                            }
                                              
                                            if (IDtype2 != null)
                                            {
                                                
                                                        foreach (MISER.TranGen.Format00754 item2 in miserReply.Formats.OfType<MISER.TranGen.Format00754>().Distinct())
                                                        {
                                                            <tr>
                                                                <td>@Html.Raw(IDtype2)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.RR_CFMID_DATA_2)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.RR_CFMID_ISSUE_BY_2)</td>
                                                                <td>@Html.Raw(expDate2)</td>
                                                            </tr>
                                                        }
                                            }
                                            if (IDtype3 != null)
                                            {
                                                        foreach (MISER.TranGen.Format00754 item2 in miserReply.Formats.OfType<MISER.TranGen.Format00754>().Distinct())
                                                        {
                                                            <tr>
                                                                <td>@Html.Raw(IDtype3)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.RR_CFMID_DATA_3)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.RR_CFMID_ISSUE_BY_3)</td>
                                                                <td>@Html.Raw(expDate3)</td>
                                                            </tr>
                                                        }
                                            }
                                        

                                    }
                                }
                        </table>
                    </td>
                </tr>

            </table>

            <h4 style="color: royalblue; font-weight: bold">Accounts</h4>
            <table cellpadding="0" cellspacing="0" class="ChildGrid">
                <tr>
                    <th> Ap</th>
                    <th> Acct</th>
                    <th> Type</th>
                    <th> ATM</th>
                    <th> Balance</th>
                    <th> Available </th>
                    <th> Rate</th>
                    <th> Mat/Due Dt</th>
                    <th> Lock</th>
                    <th> Warning</th>
                    <th> Flags</th>
                    <th> Rel</th>

                </tr>
                @foreach (var miserReply in Model.MiserReply)
                {
                    foreach (MISER.TranGen.Format00116 item in miserReply.Formats.OfType<MISER.TranGen.Format00116>().ToList())
                    {
                        string accStatus = item.RR_CFCAR_ACCT_STAT.ToString();
                        string appCode = item.RR_CFCAR_APPL_CODE.ToString();
                        string Relationship = item.RR_CFCAR_REL_CODE.ToString();
                        decimal intRateDec = Convert.ToDecimal(item.RR_CFCAR_INT_RATE) * 100;
                        string intRate = intRateDec.ToString("0.####");
                        string dueDt = Convert.ToDateTime(item.RR_CFCAR_MAT_DUE_DT).ToString("MM/dd/yy");
                        if (appCode == "00" || appCode == "10")
                        { dueDt = ""; }
                        string ssnSecondary = item.RR_CFCAR_TAX_ID_1.ToString();
                        decimal balance = item.RR_CFCAR_BAL;
                        decimal available = item.RR_CFCAR_AVL_BAL;
                        if (accStatus == "AC" && appCode != "95")
                        {
                <tr style=" text-align:center">
                    @if (appCode == "00")
                    {
                        <td>SV</td>}
                    @if (appCode == "02")
                    {
                        <td>CD</td>}
                    @if (appCode == "10")
                    {
                        <td>ND</td>}
                    @if (appCode == "52")
                    {
                        <td>OL</td>}
                    @if (appCode == "45")
                    {
                        <td>NL</td>}
                    @if (appCode == "50")
                    {
                        <td>ML</td>}
                    @if (appCode == "51")
                    {
                        <td>IL</td>}
                    @if (appCode == "46")
                    {
                        <td>SD</td>}
                    <td>@Html.DisplayFor(modelItem => item.RR_CFCAR_ACCT_NBR)</td>

                    <td>@Html.DisplayFor(modelItem => item.RR_CFCAR_ACCT_TYPE)</td>
                    <td style=" text-align:center">
                        @if (Model.hasATM[item.RR_CFCAR_ACCT_NBR.ToString()] == "A")
                        {
                            @Html.Raw("A")
                        }
                    </td>
                    <td style=" text-align:right">@Html.Raw(balance.ToString("#,##0.00"))</td>
                    <td style=" text-align:right">@Html.Raw(available.ToString("#,##0.00"))</td>
                    <td>@Html.Raw(intRate).ToString()</td>
                    <td>@Html.Raw(dueDt).ToString()</td>
                    <td onclick="PopUp('@Html.Raw(string.Join(";",Model.lFlags[item.RR_CFCAR_ACCT_NBR.ToString()] ))') " style=" font-weight: bold; color:red; text-align:center; cursor: pointer">@Html.DisplayFor(modelItem => item.RR_CFCAR_LOCK_FLAGS)</td>
                    <td onclick="PopUp('@Html.Raw(string.Join(";",Model.wFlags[item.RR_CFCAR_ACCT_NBR.ToString()] ))') " style=" font-weight: bold; color:orange; text-align:center; cursor: pointer">@Html.DisplayFor(modelItem => item.RR_CFCAR_WARN_FLAGS)</td>
                    <td onclick="PopUp('@Html.Raw(string.Join(";",Model.oFlags[item.RR_CFCAR_ACCT_NBR.ToString()] ))') " style=" font-weight: bold; color:royalblue; text-align:center; cursor: pointer">@Html.DisplayFor(modelItem => item.RR_CFCAR_OTHER_FLAGS)</td>
                    @*@if (ssnSecondary == "0")
        {
            <td colspan="2">N/A</td>
        }
        else
        {
            <td>@Html.DisplayFor(modelItem => item.RR_CFCAR_NAME_1)</td>JTO
            <td>@Html.Raw(ssnSecondary)</td>
        }*@
                    @{
                        string otherMemberStr = "";
                        int count = 0;
                        foreach (MVCMiserLogin.Models.OtherNamesNssn OtherNames in Model.OtherNamesNSsn[item.RR_CFCAR_ACCT_NBR.ToString()])
                        {
                            if (!string.IsNullOrWhiteSpace(OtherNames.Name))
                            {
                                otherMemberStr += OtherNames.Name
                                    + ":"
                                    + OtherNames.SSN.ToString()
                                    + ";";
                                count++;
                            }
                        }
                    }



                    <td onclick="PopUpTwoCol('@otherMemberStr') " style=" font-weight: bold; color:black; text-align:center; cursor: pointer"><b>@Html.Raw(Relationship)</b></td>


                </tr>
                        }

                    }

                }
            </table>

            @if (cc != 0)
            {
                <h4 style="color: royalblue; font-weight: bold">Credit Cards</h4>
                <table cellpadding="0" cellspacing="0" class="ChildGrid">
                    <tr>
                        <th> Card Number </th>
                        <th> Amount Due</th>
                        <th> ER Status </th>
                    </tr>
                    @foreach (var miserReply in Model.MiserReply)
                    {
                        foreach (MISER.TranGen.Format00118 item in miserReply.Formats.OfType<MISER.TranGen.Format00118>().ToList())
                        {
                            if (item.RR_MSERS_SERV_ACCT.Length == 16)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.RR_MSERS_SERV_ACCT)</td>
                                    <td style=" text-align:right">@Html.Raw(Convert.ToDecimal(item.RR_MSERS_AMT_DUE).ToString("#,##0.00")) </td>
                                    <td>@Html.DisplayFor(modelItem => item.RR_MSERS_ACCT_STAT)</td>
                                    @*<td>@Html.DisplayFor(modelItem => item.RR_MSERS_PMT_AMT)</td>*@
                                    @*<td>@Html.DisplayFor(modelItem => item.RR_MSERS_PMT_DT)</td>
                                    <td>@Convert.ToDateTime(item.RR_MSERS_PMT_DT).ToString("MM/dd/yyyy")</td>*@
                                </tr>
                            }

                        }
                    }
                </table>
            }
            @*else
        {
            <table cellpadding="0" cellspacing="0" class="ChildGrid">
                <tr>
                    <td>None</td>
                </tr>
            </table>
        }*@

        </div>
        @*</td>*@




    </div>
    @*<div id='myModal' class='modal' style="text-align:right; ">
        <div class="modal-dialog" style="width:300px; height:300px; padding:10px;">
            <div class="modal-content" style="overflow: auto; padding:10px; background-color:#d2f5f4;">
                <table>
                    <tr>
                        <td>
                            <h3>Flags</h3>
                        </td>
                        <td>
                        <button type="button" id="closbtn" onclick="HideModal()">X</button>
                        </td>
                    </tr>
                </table>

                <div id='myModalContent' align="center" style="width:200px; max-height:250px; padding:10px; "></div>
            </div>
        </div>
    </div>*@

</body>

</html>


