﻿@{
    ViewBag.Title = "Home Page";
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    Minimized Aside
                </h3>
                <span class="kt-subheader__separator kt-hidden"></span>

                <div class="kt-subheader__breadcrumbs">
                    <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="" class="kt-subheader__breadcrumbs-link">
                        General
                    </a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="" class="kt-subheader__breadcrumbs-link">
                        Minimized Aside
                    </a>

                    <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
                </div>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <!--Begin::Row-->
        <div class="row">
            <div class="col-lg-9 col-md-12">

                <!--begin:: Widgets/Sale Reports-->
                <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Sales Reports
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">

                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="alert alert-light alert-elevate" role="alert">
                            <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                            <div class="alert-text">
                                Enter a Member SSN/CIF, Account Number, Name, or Address below to display Member details.
                            </div>
                        </div>

                        <!--begin: Search Form -->
                        <form class="kt-form kt-form--label-right" novalidate="novalidate">
                            <div class="form-group row is-invalid">
                                <div class="col-5 col-md-3">
                                    <input type="text" id="SSN" name="SSN" class="form-control" placeholder="Member SSN/CIF" onkeyup="ValidateSSNEvt()">
                                    <div id="ErrorSSN" class="error invalid-feedback"></div>
                                </div>
                                <div class="col-7 col-md-3">
                                    <button type="button" id="searchBySSN" name="searchBySSN" class="btn btn btn-label-primary" onclick="SearchBySSNClicked();">Search by SSN or CIF</button>
                                </div>

                                <div class="col-5 col-md-3">
                                    <input type="text" id="accNum2" name="accNum2" class="form-control" placeholder="Account Number" onkeyup="ValidateAcctNumEvt()">
                                    <div id="ErrorAcctNum" class="error invalid-feedback"></div>
                                </div>
                                <div class="col-7 col-md-3">
                                    <button type="button" class="btn btn-label-primary" id="searchByAccNumber" name="searchByAccNumber">Search By Account Number</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-5 col-md-3">
                                    <input type="text" id="mname" name="mname" class="form-control" placeholder="Member Name" onkeyup="ValidateNameEvt()" />
                                    <div id="ErrorName" class="error invalid-feedback"></div>
                                </div>
                                <div class="col-7 col-md-3">
                                    <button type="button" id="searchByName" name="searchByName" class="btn btn btn-label-primary">Search By Member Name</button>
                                </div>

                                <div class="col-5 col-md-3">
                                    <input type="text" id="maddress" name="maddress" class="form-control" placeholder="Member Address" onkeyup="ValidateAddressEvt()" />
                                    <div id="ErrorAddress" class="error invalid-feedback"></div>
                                </div>
                                <div class="col-7 col-md-3">
                                    <button type="button" class="btn btn-label-primary" d="searchByAddress" name="searchByAddress">Search By Member Address</button>
                                </div>
                            </div>
                            <div class="kt-separator kt-separator--md kt-separator--dashed"></div>
                        </form>
                        <!--end: Search Form -->
                    </div>
                </div>

                <!--end:: Widgets/Sale Reports-->
            </div>

            <div class="col-lg-3 col-md-12">

                <div class="row">
                    <div class="col-12">
                        <!--begin:: Widgets/Order Statistics-->
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Order Statistics
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                            </div>
                        </div>
                        <!--end:: Widgets/Order Statistics-->
                    </div>
                    <div class="col-12">
                        <!--begin:: Widgets/Order Statistics-->
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Order Statistics
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                            </div>
                        </div>
                        <!--end:: Widgets/Order Statistics-->
                    </div>
                    <div class="col-12">
                        <!--begin:: Widgets/Order Statistics-->
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Order Statistics
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                            </div>
                        </div>
                        <!--end:: Widgets/Order Statistics-->
                    </div>
                </div>


            </div>
        </div>
        <!--End::Row-->

        <!--Begin::Row Display2 -->
        <div class="row">
            <div class="col-lg-12" id="Display2"></div>
        </div>
        <!--End::Row -->

        <div class="row">
            <div class="col-lg-12">
                @{
                    Html.RenderAction("TransMonitor");
                }
            </div>
        </div>

        <!--End::Dashboard 6-->
    </div>
    <!-- end:: Content -->
</div>

@section Scripts{
    <script>
        var SearchSSNFinishLoading = false;
        var CoopFinishLoading = false;
        var errorMessage = "";


        function DeleteTxtBx() {
            document.getElementById('SSN').value = "";
            document.getElementById('mname').value = "";
            document.getElementById('accNum2').value = "";
            //document.getElementById('nameTxtBx').value = "";
            document.getElementById('maddress').value = "";
        }
        function ValidateWhiteSpace(id) {
            var x, text;

            // Get the value of the input field with id="numb"
            x = document.getElementById(id).value;

            //regex for numbers only
            var reg = new RegExp('/^\s*$/');
            console.log("ValidateWhiteSpace()" + reg.test(x));

            //debugger;

            if (x === "") {
                return false;
            }
            if (reg.test(x)) {
                return false;
            } else {
                return true;
            }
        }
        function ValidateSSNEvt() {
            if (event.keyCode === 13) {
                SearchBySSNClicked();
            }
            ValidateSSN();
        }
        function ValidateSSN() {
            var x, text;

            // Get the value of the input field with id="numb"
            x = document.getElementById("SSN").value;

            //regex for numbers only
            var reg = new RegExp('^(([0-9]*)|([0-9]{3}-?[0-9]{2}-?[0-9]{4}))$');
            console.log(reg.test(x));

            // If x is Not a Number or less than one or greater than 10
            if (!reg.test(x)) {
                text = "Input not valid: numbers only or xxx-xx-xxxx";
                document.getElementById("ErrorSSN").innerHTML = text;
                return false;
            } else {
                text = "";
                document.getElementById("ErrorSSN").innerHTML = text;
                return true;
            }

        }
        function ValidateAcctNumEvt() {
            if (event.keyCode === 13) {
                searchByAccNumberFN();
            }
            ValidateAcctNum();
        }
        function ValidateAcctNum() {
            var x, text;

            // Get the value of the input field with id="numb"
            x = document.getElementById("accNum2").value;

            //regex for numbers only
            var reg = new RegExp('^[0-9]*$');
            console.log(reg.test(x));

            // If x is Not a Number or less than one or greater than 10
            if (!reg.test(x)) {
                text = "Input not valid: numbers only";
                document.getElementById("ErrorAcctNum").innerHTML = text;
                return false;
            } else {
                text = "";
                document.getElementById("ErrorAcctNum").innerHTML = text;
                return true;
            }
        }
        function ValidateNameEvt() {
            if (event.keyCode === 13) {
                SearchByNameFN();
            }
            //  ValidateName();
        }
        function ValidateAddressEvt() {
            if (event.keyCode === 13) {
                SearchByAddressFN();
            }
            //  ValidateName();
        }

        function SearchBySSNClicked() {
            if (ValidateSSN() && ValidateWhiteSpace("SSN")) {
                //$("#Display").html = "";
                //$("#Display").html("");
                //document.getElementById("Display").innerHTML = "";
                $("#Display2").html = "";
                $("#Display2").html("");
                document.getElementById("Display2").innerHTML = "";
                //$("#DisplayCC").html = "";
                //$("#DisplayCC").html("");
                //document.getElementById("DisplayCC").innerHTML = "";

                $("#searchByAccNumberPartial").html = "";
                $("#searchByAccNumberPartial").html("");
                //document.getElementById("searchByAccNumberPartial").innerHTML = "";

                //searchBySSN();
                SSNsearchProf();
                //CCDetails();
                // DeleteTxtBx();
            }

            DeleteTxtBx();
        }

        function CCDetails() {
            $.ajax({
                url: "COOP",
                //url: "SNNsearch_Profile_PView",
                type: "get",
                data: {
                    "SSN": $("input[name='SSN']").val().replace(/\-/g, "")
                },
                success: function (result) {
                    $("#DisplayCC").html = "";
                    $("#DisplayCC").html(result);
                    //initializeAmountProcessed();
                    Loading("COOPLoading", true);
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 400) {
                        msg = jqXHR.statusText;
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    //alert("Content load failed. " + msg);
                    console.log("Content load failed. " + msg);
                    Loading("COOPLoading", false, msg);
                }
            });
        }

        function SSNsearchProf() {
            $.ajax({
                beforeSend: function () {
                    swal.fire({
                        title: 'Loading...',
                        onOpen: function () {
                            swal.showLoading()
                        }
                    });
                },
                url: '@Url.Action("SearchByProfile")',
                //url: "SNNsearch_Profile_PView",
                type: "get",
                data: {
                    "SSN": $("input[name='SSN']").val().replace(/\-/g, "")
                },
                success: function (result) {
                    $("#Display2").html = "";
                    $("#Display2").html(result);
                    Swal.close();
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 400) {
                        msg = jqXHR.statusText;
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    //alert("Content load failed. " + msg);
                    console.log("Content load failed. " + msg);
                    swal.fire("Content load failed. ", msg, "error");
                    //Loading("SearchBySSNLoading", false, msg);
                }
            });
        }

        function loadMonitorPartialView() {
            $.ajax({
                url: "MonitorPartial",
                type: "get",

                success: function (result) {
                    $("#monitorPartial").html = "";
                    $("#monitorPartial").html(result);
                }
            });
        }

        function searchByAccNumberFN() {
            if (ValidateAcctNum() && ValidateWhiteSpace("accNum2")) {
                $("#searchByAccNumberPartial").html = "";
                $("#searchByAccNumberPartial").html("");
                document.getElementById("searchByAccNumberPartial").innerHTML = "";
                $.ajax({
                    url: "SearchByAccNumber",
                    //url: "SNNsearch_Profile_PView",
                    type: "get",
                    data: {
                        "accNum2": $("input[name='accNum2']").val().replace(/\-/g, "")
                    },
                    success: function (result) {
                        $("#searchByAccNumberPartial").html = "";
                        $("#searchByAccNumberPartial").html(result);
                        //initializeAmountProcessed();
                    },
                    error: function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 400) {
                            msg = jqXHR.statusText;
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        //alert("Content load failed. " + msg);
                        console.log("Content load failed. " + msg);
                        Loading("COOPLoading", false, msg);
                        Loading("SearchBySSNLoading", false, msg);
                        //Loading("SearchBySSNTestLoading", false, msg);
                    }
                });
            }
            else {
                Loading("COOPLoading", false, "Invalid Input");
                Loading("SearchBySSNLoading", false, "Invalid Input");
                //Loading("SearchBySSNTestLoading", false, "Invalid Input");
            }
        }

        function SearchByNameFN() {
            if (ValidateWhiteSpace(/*"nameTxtBx"*/"mname")) {
                $("#searchByAccNumberPartial").html = "";
                $("#searchByAccNumberPartial").html("");
                document.getElementById("searchByAccNumberPartial").innerHTML = "";
                $.ajax({
                    url: "SearchByName",
                    //url: "SNNsearch_Profile_PView",
                    type: "get",
                    data: {
                        "MemberName": $("input[name='mname']").val().replace(/\-/g, "")
                        //"MemberName": $("input[name='nameTxtBx']").val().replace(/\-/g, "")
                    },
                    success: function (result) {
                        $("#searchByAccNumberPartial").html = "";
                        $("#searchByAccNumberPartial").html(result);
                        //initializeAmountProcessed();
                    },
                    error: function (jqXHR, exception) {
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 400) {
                            msg = jqXHR.statusText;
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        //alert("Content load failed. " + msg);
                        console.log("Content load failed. " + msg);
                        Loading("COOPLoading", false, msg);
                        Loading("SearchBySSNLoading", false, msg);
                        //Loading("SearchBySSNTestLoading", false, msg);
                    }
                });
            }
            else {
                //Loading("SearchBySSNTestLoading", false, "Invalid input");
                Loading("SearchBySSNLoading", false, "Invalid input");
                Loading("COOPLoading", false, "Invalid input");
            }
        }

        function SearchByAddressFN() {
            if (ValidateWhiteSpace("maddress")) {
                $("#searchByAccNumberPartial").html = "";
                $("#searchByAccNumberPartial").html("");
                document.getElementById("searchByAccNumberPartial").innerHTML = "";
                $.ajax({
                    url: "SearchByAddress",
                    //url: "SNNsearch_Profile_PView",
                    type: "get",
                    data: {
                        "Address": $("input[name='maddress']").val().replace(/\-/g, "")
                    },
                    success: function (result) {
                        $("#searchByAccNumberPartial").html = "";
                        $("#searchByAccNumberPartial").html(result);
                        //initializeAmountProcessed();
                    },
                    error: function (jqXHR, exception) {
                        debugger;
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 400) {
                            msg = jqXHR.statusText;
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        //alert("Content load failed. " + msg);
                        console.log("Content load failed. " + msg);
                        Loading("COOPLoading", false, msg);
                        Loading("SearchBySSNLoading", false, msg);
                        //Loading("SearchBySSNTestLoading", false, msg);
                    }
                });
            }
            else {
                //Loading("SearchBySSNTestLoading", false, "Invalid input");
                Loading("SearchBySSNLoading", false, "Invalid input");
                Loading("COOPLoading", false, "Invalid input");
            }
            DeleteTxtBx();
        }

        function SearchByAccSNN(SSN) {
            //$("#Display").html = "";
            //$("#Display").html("");
            //document.getElementById("Display").innerHTML = "";
            $("#Display2").html = "";
            $("#Display2").html("");
            document.getElementById("Display2").innerHTML = "";
            $("#DisplayCC").html = "";
            $("#DisplayCC").html("");
            document.getElementById("DisplayCC").innerHTML = "";
            // evt.preventDefault();
            //$("#searchByAccNumberPartial").html = ""; WIll hide the ACC number search results
            //$("#searchByAccNumberPartial").html("");
            //document.getElementById("searchByAccNumberPartial").innerHTML = "";
            //AccsearchBySSN(SSN);
            AccSSNsearchProf(SSN);
            AccCCDetails(SSN);
            DeleteTxtBx();
        }

        function AccCCDetails(SSN) {
            $.ajax({

                url: "COOP",
                //url: "SNNsearch_Profile_PView",
                type: "get",
                //data: {
                //    "SSN": SSN
                //},
                data: { 'SSN': SSN },
                success: function (result) {
                    $("#DisplayCC").html = "";
                    $("#DisplayCC").html(result);
                    Loading("COOPLoading", true);
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 400) {
                        msg = jqXHR.statusText;
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    //alert("Content load failed. " + msg);
                    Loading("COOPLoading", false, msg);
                }
            });
        }

        function AccSSNsearchProf(SSN) {
            $.ajax({
                url: "SSNsearch_Profile_PView",
                type: "get",
                //data: {
                //    "SSN": SSN
                //},
                data: { 'SSN': SSN },
                success: function (result) {
                    Loading("SearchBySSNLoading", true);
                    $("#Display2").html = "";
                    $("#Display2").html(result);
                    //initializeAmountProcessed();
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 400) {
                        msg = jqXHR.statusText;
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    //alert("Content load failed. " + msg);
                    console.log("Content load failed. " + msg);
                    Loading("SearchBySSNLoading", false, msg);
                }
            });
        }

        function reloadDataMonitor() {
            KTDatatableMonitor.reload();
        }

        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };

        var KTDatatableMonitor = function () {
            // Private functions
            var dtMonitor;
            // demo initializer
            var demo = function () {

                dtMonitor = $('#html_table').KTDatatable({
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: '@Url.Action("GetDataTransMonitor")',
                                // sample custom headers
                                // headers: {'x-my-custom-header': 'some value', 'x-test-header': 'the value'},
                                map: function (raw) {
                                    // sample data mapping
                                    var dataSet = raw;
                                    if (typeof raw.data !== 'undefined') {
                                        dataSet = raw.data;
                                    }
                                    return dataSet;
                                },
                            },
                        },
                        pageSize: 10,
                        serverPaging: false,
                        serverFiltering: false,
                        serverSorting: false,
                    },
                    search: {
                        input: $('#generalSearch'),
                    },
                    columns: [
                        {
                            field: 'CreationDate',
                            title: 'Tran Time',
                            template: function (row) {
                                if (row.CreationDate != null) {
                                    var dat = moment(row.CreationDate);
                                    return dat.format('hh:mm:ss A');
                                }
                            }
                           
                        },
                        {
                            field: 'SourceAccountNumber',
                            title: 'Source',
                        },
                        {
                            field: 'SourceAccountType',
                            title: 'Type',
                        },
                        {
                            field: 'DestinationAccountNumber',
                            title: 'Destination',
                        },
                        {
                            field: 'DestinationAccountType',
                            title: 'Type',
                        },
                        {
                            field: 'TransactionAmount',
                            title: 'Amount',
                        },
                        {
                            field: 'Memo',
                            title: 'Memo',
                        },
                        {
                            field: 'SessionIdentifier',
                            title: 'Session',
                        },
                        {
                            field: 'MachineGroupName',
                            title: 'Branch',
                        },
                        {
                            field: 'TransactionIdentifier',
                            title: 'Tran ID',
                        },
                        {
                            field: 'TransactionType',
                            title: 'Tran Type',
                        },
                        {
                            field: 'Status',
                            title: 'Status',
                            autoHide: false,
                            // callback function support for column rendering
                            template: function (row) {
                                var status = {
                                    1: { 'title': 'Pending', 'class': 'kt-badge--unified-warning' },
                                    2: { 'title': 'Failed', 'class': ' kt-badge--unified-danger' },
                                    3: { 'title': 'Success', 'class': ' kt-badge--unified-success' },
                                    4: { 'title': 'Reversal', 'class': ' kt-badge--unified-info' },
                                };
                                return '<span class="kt-badge ' + status[row.Status].class + ' kt-badge--inline kt-badge--pill kt-badge--bold">' + status[row.Status].title + '</span>';
                            },
                        }
                    ],
                });

                $('#kt_form_status').on('change', function () {
                    dtMonitor.search($(this).val().toLowerCase(), 'Status');
                });

                $('#kt_form_status,#kt_form_type').selectpicker();

            };

            var reloadtable = function () {
                dtMonitor.reload();
            };

            return {
                // Public functions
                init: function () {
                    // init dmeo
                    demo();
                },
                reload: function () {
                    reloadtable();
                }
            };
        }();

        jQuery(document).ready(function () {
            KTDatatableMonitor.init();
        });

    </script>



}